html {
  color: white;
  background:#000000;
}
body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
}
#root {
  background:
    linear-gradient(to right, transparent 33%, rgb(233, 248, 255), transparent 66%),
    url(https://i.ytimg.com/vi/WRWDhzTbygI/maxresdefault.jpg) center;
  background-size: 300% 100%, cover;
  animation:change 3s linear;
  height: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.colorCircle {
  display: inline-flex;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0.5rem;
  box-shadow:
    inset 0 0 2px 0 rgba(255,255,255,.4),
    inset 0 0 3px 0 rgba(0,0,0,.4),
    inset 0 0 3px 5px rgba(0,0,0,.05),
    2px 2px 4px 0 rgba(0,0,0,.25);
}

  
@keyframes change {
  from { /*Use "to" to change the direction */
    background-position:right,center;
  }
}
  
.dash {
  padding: 0 20px;
}
.header1 {
  padding-top: 100px;
  text-align: center;
  animation: pop-in .6s ease-out forwards;
}

  @keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

.header2 {
  text-align: center;
  animation: pop-in .6s ease-out forwards;
}

.signupButton {
  text-decoration-color: white;
  padding-bottom: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.playlistNames {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.loginButton {
  text-decoration-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.spotifyButton {
  padding-top: 160px;
}

.spotifyLogoutButton {
  padding-top: 20px;
}

.playlistButton {
  text-decoration-color: white;
}

.homeButton {
  text-decoration-color: white;
}

.savePLButton {
  text-decoration-color: white;
  padding-bottom: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loginForm {
  text-decoration-color: white;
  padding-bottom: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.signupForm {
  text-decoration-color: white;
  padding-bottom: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.formBtn1 {
  text-decoration-color: white;
  justify-content: center;
}

.formBtn2 {
  text-decoration-color: white;
}

.Nav1 {
  width: 100%
}

.dashButton {
  text-decoration-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logoutButton {
  text-decoration-color: white;
}

.dashBtn {
  text-decoration-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wheel {
  background-color: #E0F1F7;

}

.easel {
  background-color: #e0f1f7;
}

.wheelHeader {
  text-align: center;
  padding-top: 20px;
}

.easelHeader {
  text-align: center;
  padding-top: 20px;
}

.trackCards {
  padding-top: 20px;
}

.trackCard {
  display: flex;
  align-items: center;
  gap: 5px;
}

.trackCard-title {
  font-weight: 600;
  font-size: 16px;
}
.trackCard-main {
  flex-grow: 1;
}
.trackCard-artist {
  margin-top: 5px;
}

.albumArt {
  height: 90px;
}

.explicit {
  text-transform: uppercase;
  border: 3px solid red;
  padding: 3px;
  color: red;
  font-size: 0.6em;
  margin-left: 5px;
}

.thumbnail {
  margin-right: 8px;
}